<h3><%= @user.name %>'s profile: </h3>

<% if @user.admin? %>
<p>ADMIN</p>
<% end %>
<ul>
  <li>Height: <%= @user.height %></li>
  <li>Mood: <%= @user.mood %></li>
  <li>Tickets: <%= @user.tickets %></li>
  <li>Nausea: <%= @user.nausea %></li>
</ul>

<h3><%= link_to 'See attractions', attractions_path %></h3>